.img1{
background-image: URL('../images/img1.jpg'); background-size: 100% 100%;
}
.img2{
background-image: URL('../images/img2.jpg'); background-size: 100% 100%;
}
.img3{
background-image: URL('../images/img3.jpg'); background-size: 100% 100%;
}
.img4{
background-image: URL('../images/img4.jpg'); background-size: 100% 100%;
}
.img5{
background-image: URL('../images/img5.jpg'); background-size: 100% 100%;
}
.img6{
background-image: URL('../images/img6.jpg'); background-size: 100% 100%;
}
.img7{
background-image: URL('../images/img7.jpg'); background-size: 100% 100%;
}
.img8{
background-image: URL('../images/img8.jpg'); background-size: 100% 100%;
}
.img9{
background-image: URL('../images/img9.jpg'); background-size: 100% 100%;
}
.img10{
background-image: URL('../images/img10.jpg'); background-size: 100% 100%;
}
.img11{
background-image: URL('../images/img11.jpg'); background-size: 100% 100%;
}
.img12{
background-image: URL('../images/img12.jpg'); background-size: 100% 100%;
}
